.search {
    width: 70%;
    border: 1px solid rgb(214, 133, 146);
    margin-top: 1.7rem;
    display: inline-block;
    align-self: center;

}
button {
    height: 40px;
    display: inline-block;
    margin-left: 1.4rem;
    width: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(214, 133, 146);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}